<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/static/icons/bootstrap-icons-1.10.2/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/static/icons/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/logo-dumbways.png"
      type="image/x-icon"
    />
    <title>Task 9 DumbWays - asidikrdn</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg px-2 px-lg-5 py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/img/logo-dumbways.png" alt="logo-dumbways" id="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 fw-bolder fs-5">
            <li class="nav-item mx-3">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/project">Add Project</a>
            </li>
            <li class="nav-item mx-3">
              <a
                class="nav-link fs-6 btn btn-dark text-white mt-2 py-2 px-3 rounded-3 d-inline-block d-lg-none"
                href="/contact"
              >
                Contact Me
              </a>
            </li>
          </ul>
        </div>
        <a
          class="nav-link fs-6 btn btn-dark text-white py-2 px-3 rounded-3 d-none d-lg-block"
          href="/contact"
        >
          Contact Me
        </a>
      </div>
    </nav>
    <!-- End of NavBar -->

    <main>
      <!-- Contact Form -->
      <section id="contact-form">
        <div class="container my-4">
          <h1 class="text-center py-3">GET IN TOUCH</h1>
          <div class="row">
            <div class="col-10 offset-1 col-lg-6 offset-lg-3">
              <form id="contactForm" class="w-100 w-lg-50 mx-auto">
                <div class="mb-3">
                  <label for="nama" class="form-label h4">Nama</label>
                  <input
                    type="text"
                    name="nama"
                    id="nama"
                    class="form-control"
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label h4">Email</label>
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    id="email"
                  />
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label h4">Phone Number</label>
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    id="phone"
                  />
                </div>
                <div class="mb-3">
                  <label for="subject" class="form-label h4">Subject</label>
                  <select name="subject" class="form-select" id="subject">
                    <option value=""></option>
                    <option value="Let's Talk">Let's Talk</option>
                    <option value="Let's Meet">Let's Meet</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="pesan" class="form-label h4">Your Message</label>
                  <textarea
                    name="pesan"
                    id="pesan"
                    class="form-control"
                    cols="30"
                    rows="10"
                  ></textarea>
                </div>
                <div class="w-100 d-flex justify-content-end">
                  <button type="submit" class="btn btn-dark fs-5">
                    submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End of Contact Form -->
    </main>

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/contact.js"></script>
  </body>
</html>
